{% extends "base.html" %}

{% block title %}Admin Items{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center my-4">Admin Items</h2>
        <div class="row">
            {% for item_id, item in items.items() %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='images/' ~ item['image']) }}" class="card-img-top" alt="{{ item['name'] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item['name'] }}</h5>
                        <p class="card-text">Quantity: {{ item['quantity'] }}</p>
                        <p class="card-text">Price: {{ item['price'] }}</p>
                        <div class="text-center">
                            <a href="{{ url_for('edit_item', item_id=item_id) }}" class="btn btn-primary btn-block">Edit</a>
                            <form method="POST" action="{{ url_for('delete_item', item_id=item_id) }}" class="d-inline">
                                <button type="submit" class="btn btn-danger btn-block mt-2">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('add_item') }}" class="btn btn-success btn-add-item btn-block">Add New Item</a>
    </div>
{% endblock %}
